# Python
__pycache__/
*.py[cod]
*.pyo
.Python
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
logs/

# Citlive soubory - NIKDY nepushnout
.env
*.env
secrets.py
credentials.json

# Node
node_modules/
dist/
.next/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
